.header-container {
    font-weight: 600;
    font-size: large;
}
.header {
    background-color: #ededed;
}
.menu {
    background-color: #333333;
    color: white;
}
ul {
    display: flex;
    flex-direction: row;
    padding: 13px;
    list-style: none;
    width: fit-content;
    margin: 0 auto;
}

li {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}

.header ul {
    height: fit-content;
}

.header li {
    margin: auto 15px;
}
a {
    text-decoration: none;
}
.menu a {
    color: white;
}
.header a {
    color: #000;
}
